html,
body {
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.chat-logs {
  flex: 1;
  overflow: auto;
}
.one-chat-log {
  /* height: 100%; */
  overflow: auto;
  border-bottom: 1px solid;
  background-color: chartreuse;
}
.one-chat-log :last-child {
  border: none;
}

footer {
  background-color: aqua;
}
header {
  background-color: peachpuff;
}
