html,
body {
  margin: 0;
}
header {
  background-color: #182c61;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  height: 8vh;
  font-size: 6.5vh;
}
footer {
  background-color: #182c61;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8vh;
}
input {
  color: #ff4757;
}
button {
  background-color: #f1f2f6;
  color: #ff4757;
  border: 2px solid #ff4757;
  padding: 1vh 2vh;
  border-radius: 4px;
}
button:hover {
  color: white;
  background-color: #ff4757;
  cursor: pointer;
  box-shadow: 0 1px #182c61;
}
button:active {
  transform: translateY(1px);
  box-shadow: 0 0.5px white;
}
#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* background-color: #f1f2f6; */
}
.one-chat-container {
  margin-right: 1rem;
  margin-left: 1rem;
  /* margin-left: auto; */
  /* max-width: 50vh; */
}
.chat-logs {
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
  margin: 8vh 0 8vh 0;
  background-color: #f1f2f6;
  float: right;
}
.login {
  display: flex;
  margin: 40vh 0 40vh 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ff4757;
  animation: fadeInFromBottom ease 1s;
  -webkit-animation: fadeInFromBottom ease 1s;
  -moz-animation: fadeInFromBottom ease 1s;
  -o-animation: fadeInFromBottom ease 1s;
  -ms-animation: fadeInFromBottom ease 1s;
}
.login-input {
  font-size: 3vh;
  margin: 2vh;
}

.login-field {
  font-size: 3vh;
}

.one-chat-log {
  font-size: 3.5vh;
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.9rem;
  /* width: auto; */
  text-align: center;
  color: white;
  background-color: #ff4757;
  display: table-cell;
}
.one-chat-user {
  color: #ff6b81;
  font-size: 2vh;
  text-align: right;
  margin-top: 0;
}
.one-chat-container:last-child {
  animation: fadeInFromBottom ease 3s;
  -webkit-animation: fadeInFromBottom ease 3s;
  -moz-animation: fadeInFromBottom ease 3s;
  -o-animation: fadeInFromBottom ease 3s;
  -ms-animation: fadeInFromBottom ease 3s;
}
.type-form {
  display: flex;
  justify-content: space-evenly;
  margin: 1vh 10vh 1vh 10vh;
  text-align: center;
}
.chat-input-text {
  width: 70%;
  border-radius: 4px;
  padding: 6px 20px;
  margin: 0 0;
  font-size: 3vh;
  /* border: 2px solid #ff4757; */
  /* padding: 0.5%; */
}
.chat-button {
  width: 10%;
  font-size: 3vh;
}
.disable-chat-button {
  opacity: 0.6;
  pointer-events: none;
  border: 2px solid #182c61;
}
@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}
@-moz-keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}
@-webkit-keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}
@-o-keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}
@-ms-keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}
