html,
body {
  height: 100%;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-logs {
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
}
.one-chat-log {
  background-color: chartreuse;
  margin: 0;
}

footer {
  background-color: aqua;
}
header {
  background-color: peachpuff;
}
